---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
  "home",
  "contact",
  "footer"
;


$font-helvetica:    Helvetica, Arial, "Lucida Grande", sans-serif;
$font-courir:     Courier, monospace;
$color-red:     #e5251b;
$color-dark-grey: #1d1d1b;


.navbar-default.navbar-21st {
  .selected {
    color: #FF0000;
    text-transform: uppercase;
  }
}