---
layout: default
---

{% assign sections = site.sections | sort: 'index' %}
{% for section in sections %}
    {% if section.parallaxEnabled and section.parallaxBottom != true %}
        <div  id="{{ section.title | slugify }}-parallax" class="parallax-image">
            <div class="overlay"></div>
            <div class="parallax-logo"></div>
        </div>
    {% endif %}

    <section id="{{ section.title | slugify }}">
        {% if section.hide_title != true %}
            <h1 class="text-center"><span class="typed">{{ section.title }}</span></h1>
        {% endif %}

        {{ section.content }}
    </section>
    {% if section.parallaxEnabled and section.parallaxBottom %}
        <div  id="{{ section.title | slugify }}-parallax" class="parallax-image">
            <div class="overlay"></div>
            <div class="parallax-logo"></div>
        </div>
    {% endif %}
{% endfor %}