{% include base/html_begin.html %}

{% include base/head.html %}

{% include header.html %}

<body class="demo-masonry">

  {% if page.preloading %}
    <div id="load">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
      <div class="percentage">0%</div>
    </div>
  {% endif %}


  <div class="everything"> 

    {% include navigation.html %}

    {{ content }}

    {% include footer.html %}

  </div>
  <!-- END .everything -->
  
  <!-- GO TOP BUTTON -->
  <p id="back-top"><a href="#home"><i class="fa fa-angle-up"></i></a></p>

  {% include scripts.html %}
</body>

{% include base/html_end.html %}
