<footer>
    
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <p>
                    Impressum
                </p>
            </div>
        </div>
        
    </div>
</footer>


<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
function mapinitialize() {
    var style_array = [{
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [{
            "color": "#d3d3d3"
        }]
    }, {
        "featureType": "transit",
        "stylers": [{
            "color": "#808080"
        }, {
            "visibility": "off"
        }]
    }, {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [{
            "visibility": "on"
        }, {
            "color": "#b3b3b3"
        }]
    }, {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [{
            "color": "#ffffff"
        }]
    }, {
        "featureType": "road.local",
        "elementType": "geometry.fill",
        "stylers": [{
            "visibility": "on"
        }, {
            "color": "#ffffff"
        }, {
            "weight": 1.8
        }]
    }, {
        "featureType": "road.local",
        "elementType": "geometry.stroke",
        "stylers": [{
            "color": "#d7d7d7"
        }]
    }, {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [{
            "visibility": "on"
        }, {
            "color": "#ebebeb"
        }]
    }, {
        "featureType": "administrative",
        "elementType": "geometry",
        "stylers": [{
            "color": "#a7a7a7"
        }]
    }, {
        "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers": [{
            "color": "#ffffff"
        }]
    }, {
        "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers": [{
            "color": "#ffffff"
        }]
    }, {
        "featureType": "landscape",
        "elementType": "geometry.fill",
        "stylers": [{
            "visibility": "on"
        }, {
            "color": "#efefef"
        }]
    }, {
        "featureType": "road",
        "elementType": "labels.text.fill",
        "stylers": [{
            "color": "#696969"
        }]
    }, {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [{
            "visibility": "on"
        }, {
            "color": "#737373"
        }]
    }, {
        "featureType": "poi",
        "elementType": "labels.icon",
        "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "poi",
        "elementType": "labels",
        "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "road.arterial",
        "elementType": "geometry.stroke",
        "stylers": [{
            "color": "#d6d6d6"
        }]
    }, {
        "featureType": "road",
        "elementType": "labels.icon",
        "stylers": [{
            "visibility": "off"
        }]
    }, {}, {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [{
            "color": "#dadada"
        }]
    }]
    var latlng = new google.maps.LatLng(53.545951, 10.007679);
    var myOptions = {
        zoom: 14,
        center: latlng,
        scrollwheel: false,
        scaleControl: false,
        disableDefaultUI: false,
        draggable: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: style_array
    };
    var map = new google.maps.Map(document.getElementById("map"), myOptions);

    var image = "images/mappin.png";
    var marker = new google.maps.Marker({
        map: map,
        position: map.getCenter()
    });

    var contentString = '<b>21st digital GmbH</b><br>Oberhafenstraße 1<br> 20097 Hamburg';
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });

    google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map, marker);
    });


}
mapinitialize();
</script>

<script type="text/javascript">
	jQuery(function($) { // on document load
	    $('#menu').ddscrollSpy({ // initialize first demo
	        scrolltopoffset: -50,
	    });

      var isMobile = function () {
        return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)      
      }
        
     
      var owl = $("#owl-projects");
      owl.owlCarousel({
        items : 3,
      });

      var paralaxDiv;
      
      {% for section in site.sections %}
        {% if section.parallaxEnabled %}
          paralaxDiv = $('#{{ section.title | slugify }}-parallax');
          paralaxLogoDiv = $('.parallax-logo');
          if (!isMobile()) {
            paralaxDiv.css("background", "url({{section.parallaxImage}}) no-repeat fixed");
            paralaxDiv.css("height", "46vw");
            paralaxLogoDiv.css("background", "url(/assets/images/logo.png) no-repeat fixed");
          }
          else {
            paralaxDiv.html('<img src="{{section.parallaxImage}}" class="img-responsive" />')
          }
        {% endif %}
      {% endfor %}
      

      if (!isMobile()) {
        var parallaxDivs = $(".parallax-image");
        var parallaxLogoDivs = $(".parallax-logo");
        var speed = 0.5;
        $( window ).scroll(function() {
          var windowOffset = window.pageYOffset;

          if (windowOffset > $(window).height() - 50) {

            $('.navbar-default.navbar-21st').removeClass("transparent");
          }
          else
            $('.navbar-default.navbar-21st').addClass("transparent");

          
          
          
          
          $.each(parallaxDivs, function (key, element) {
            if ($(element).visible(true)) {
              var offset = -(windowOffset - $(element).offset().top);

              
              offset *= speed;

              $(element).css("background-position-y", offset + "px");
              $(element).css("background-position-x", "50%");
              $(element).css("background-size", "140vw auto");
              
              
              $.each(parallaxLogoDivs, function (key, element) {
              
                var offset = -(windowOffset - $(element).offset().top);

                
                offset *= -0.4;
                offset += $( window ).height() * 0.5;

                $(element).css("background-position-y", offset + "px");
                $(element).css("background-position-x", "40px");
                $(element).css("background-size", "150px auto");
                
                
              })
            }

          });

          



        });
      }
      

      $('.typed').appear(function() {
        var text = $(this).text();
        $(this).html("");
        console.log(text);
        $(this).typed({
          strings: [text],
          typeSpeed: 40,
          startDelay: 1000,
          cursorChar: "_"
        });
      }, {accX: -300});

      
      $(".headline-typed").typed({
          strings: ["// DON'T PANIC", "// NICHT MIT UNS!"],
          typeSpeed: 40,
          startDelay: 1000,
          cursorChar: "_",
          loop: true,
          backDelay: 1000
        });
    
	})
</script>