
body
	color: $color-dark-grey
	font-family: $font-courier
	font-size: 16px
	line-height: 1.8em

p
	font-size: 1.125em

a, a:link, a:visited
	color: $color-dark
	font-weight: bold

a:hover 
	color: $color-red

a:active
	color: $color-red


.nav
	li
		a, a:link, a:visited, a:active
			font-weight: normal 
			text-transform: uppercase

a.mailto
	color: $color-dark-grey
	font-weight: normal

h1
	color: $color-dark-grey
	font-family: $font-helvetica
	font-size: 2.25em
	text-decoration: none
	text-transform: uppercase
	//text-align: center
	font-weight: bolder
	margin-bottom: 0px
	
h2
	color: $color-dark-grey
	font-family: $font-helvetica
	font-size: 1.875em
	text-decoration: none

h3
	color: $color-dark-grey
	font-family: $font-courier
	font-size: 1.375em
	text-decoration: none
	text-transform: uppercase
	font-style: italic
	//font-weight: bold
	color: #555555
	margin-bottom: 20px

h4
	color: $color-dark-grey
	font-family: $font-courier
	font-size: 1.25em
	text-decoration: none

h5
	color: $color-dark-grey
	font-family: $font-helvetica
	font-size: 1.25em
	text-decoration: none

h6
	color: $color-dark-grey
	font-family: $font-helvetica
	font-size: 1.125em
	text-decoration: none



