// Color

$dark: #050505
$dark-gray: #1d1d1b
$light-gray: #555
$red: #e5251b

$primary-color: $dark
$secondary-color: $light-gray 
$highlight-color: $red



// Font

$font-helvetica: 	Helvetica, Arial, "Lucida Grande", sans-serif
$font-courier:     	Courier, 'Courier New', monospace

$primary-font:	$font-courier
$secondary-font: $font-helvetica


$default-font-size: 16px
$default-line-height: 1.8em

$font-size-p: 1.125em

$font-size-h1: 2.250em
$font-size-h2: 1.875em
$font-size-h3: 1.375em
$font-size-h4: 1.250em
$font-size-h5: 1.250em
$font-size-h6: 1.125em

$header-font-weight: 500


// Padding
$section-padding-top: 40px
$section-padding-right: 0px
$section-padding-bottom: 40px
$section-padding-left: 0px

$section-padding: $section-padding-top $section-padding-right $section-padding-bottom $section-padding-left