/* Base */
/* ----------------------------------------------------------*/

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #000;
	color: #fff;
}

h1 {
	font-weight: bold;
	letter-spacing: -1px;
}

a {
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #ccc;
}

video {
	display: block;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* bootstrap */

.lead {
	font-weight: 200;
}

/* video */

video#video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	/*background: url(polina.jpg) no-repeat; */
	background-size: cover;
	opacity: 0.5;
	-webkit-filter: blur(1px);
  	-moz-filter: blur(1px);
  	-o-filter: blur(1px);
  	-ms-filter: blur(1px);
  	filter: blur(1px);
}

/* navigation bar */

.navbar-brand h1 {
	font-size: 25px;
	font-weight: 700;
}

/* intro */

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {	
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 10px;
}

.brand-heading {
    font-size: 40px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 60px;
    }

    .intro-text {
        font-size: 25px;
    }
}