.team
    margin-top: 5%
    margin-bottom: 10%

.member
    small
        display: block

    h5
        margin-top: 10px
        text-align: center

    @include respond-to(0, $xs-device-width)
        h5
            font-size: 0.875em
    @include respond-to($xs-device-width, $sm-device-width)
        h5
            margin-top: 30px
            font-size: 0.95em
    @include respond-to($sm-device-width, $md-device-width)
        h5
            margin-top: 30px
            font-size: 1.25em